/*----------------------------------------------------
@File: Skin Styles
@Author: Nasir Uddin
@URL: http://nasiruddin.com
----------------------------------------------------*/
body.default {
  /*----------------------------------------------------------------*/
  /*----------------------------------------------------------------*/
  /*----------------------------------------------------------------*/
  /*----------------------------------------------------------------*/
  /*----------------------------------------------------------------*/
  /*----------------------------------------------------------------*/
  /*----------------------------------------------------------------*/
  /*----------------------------------------------------------------*/
  /*----------------------------------------------------------------*/
  /*----------------------------------------------------------------*/
  /*----------------------------------------------------------------*/
  /*----------------------------------------------------------------*/
  /*----------------------------------------------------------------*/
  /*----------------------------------------------------------------*/
  /*----------------------------------------------------------------*/
  /*----------------------------------------------------------------*/
  /*----------------------------------------------------------------*/
  /*----------------------------------------------------------------*/
  /*Comments*/
  /*----------------------------------------------------------------*/
  /*----------------------------------------------------------------*/
  /*Google Map*/
  /*----------------------------------------------------------------*/
}
body.default header .topHeader .top_menu .list-inline li a i {
  color: #8bb812;
}
body.default header .topHeader .top_menu .list-inline li .filterGroup button span {
  color: #8bb812;
}
body.default header .topHeader .top_menu .list-inline li:last-child .filterGroup button span {
  background: #8bb812;
}
body.default header .navbar #mainNavigation .nav li a:hover,
body.default header .navbar #mainNavigation .nav li a:focus {
  color: #8bb812;
  border-color: #8bb812;
}
body.default header .navbar #mainNavigation .nav li.active a {
  color: #8bb812;
  border-color: #8bb812;
}
body.default header .navbar #mainNavigation .nav li.dropdown .dropdown-menu,
body.default header .navbar #mainNavigation .nav li.active .dropdown-menu,
body.default header .navbar #mainNavigation .nav li.open .dropdown-menu {
  border: 1px solid rgba(139, 184, 18, 0.3);
}
body.default header .navbar #mainNavigation .nav li.dropdown .dropdown-menu li a:hover,
body.default header .navbar #mainNavigation .nav li.active .dropdown-menu li a:hover,
body.default header .navbar #mainNavigation .nav li.open .dropdown-menu li a:hover {
  color: #8bb812;
}
body.default header .navbar #mainNavigation .nav li.dropdown .dropdown-menu li + li,
body.default header .navbar #mainNavigation .nav li.active .dropdown-menu li + li,
body.default header .navbar #mainNavigation .nav li.open .dropdown-menu li + li {
  border-top: 1px solid rgba(139, 184, 18, 0.3);
}
body.default header .navbar #mainNavigation .nav li.dropdown .dropdown-menu li ul,
body.default header .navbar #mainNavigation .nav li.active .dropdown-menu li ul,
body.default header .navbar #mainNavigation .nav li.open .dropdown-menu li ul {
  border: 1px solid rgba(139, 184, 18, 0.3);
}
body.default header .navbar #mainNavigation .nav li.open a {
  color: #8bb812;
  border-color: rgba(139, 184, 18, 0.3);
}
body.default .info_content .imageRow .saleTag,
body.default .info_content .imageRow .rentTag {
  background: #8bb812;
}
body.default .info_content .description .saleTag,
body.default .info_content .description .rentTag {
  background: #8bb812;
}
body.default .info_content:hover .description .priceRow .price {
  background: #8bb812;
}
body.default .info_content:hover .description .priceRow i {
  color: #8bb812;
}
body.default #mainSlider .flex-direction-nav li a {
  background: #8bb812;
  border-bottom: 1px solid #89ac00;
  border-left: 1px solid #89ac00;
}
body.default .searchForm .formTitle {
  color: #8bb812;
}
body.default .searchForm .form_elements {
  background: #8bb812;
}

body.default .searchForm .form_elements .form_element .bootstrap-select .dropdown-menu .inner li a:hover {
  background: none #8bb812;
}
body.default .searchForm .form_elements .form_element .bootstrap-select .dropdown-menu .inner li.selected a {
  background: none #8bb812;
}
body.default .service_block .inner .block_icon i {
  color: #8bb812;
  border: 1px solid #8bb812;
}
body.default .service_block .inner:hover {
  border-color: #8bb812;
}
body.default .service_block .inner:hover .block_title {
  color: #8bb812;
}
body.default .service_block .inner:hover .block_icon i {
  background: #8bb812;
}
body.default .service_block .inner:hover .read_more {
  border-color: #8bb812;
  background: #8bb812;
}
body.default .paginationRow .pagination li a {
  border-bottom: 2px solid #8bb812;
}
body.default .paginationRow .pagination li.active a {
  background: #8bb812;
}
body.default .agent .imageRow ul {
  background: #8bb812;
}
body.default .agent .imageRow ul li a {
  background: #8bb812;
}
body.default .agent_details .imageRow .nav li a {
  background: #8bb812;
}
body.default .owl_carousel_home .owl-controls .owl-nav div {
  color: #8bb812;
}
body.default .owl_carousel_home .owl-controls .owl-dots .owl-dot span {
  border: 1px solid rgba(139, 184, 18, 0.2);
}
body.default .owl_carousel_home .owl-controls .owl-dots .owl-dot.active span {
  border-color: #8bb812;
  background: #8bb812;
}
body.default .blog .inner {
  background: #8bb812;
}
body.default .blog .inner .imageRow .meta_row a {
  background: #8bb812;
}
body.default .blog .inner .desc .blogtitle:hover {
  color: #8bb812;
}
body.default .blog .inner .desc p .read_more {
  color: #8bb812;
}
body.default .single_blog .post_meta a {
  background: #8bb812;
}
body.default .testimonial_carousel .clientDetails {
  background: #8bb812;
}
body.default .footerBanner .inner {
  background: #8bb812;
}
body.default footer .widget .widgetInner {
  border-top-color: #8bb812;
}
body.default footer .copyrightRow .footSocial .nav li a:hover {
  background: #8bb812;
  border-color: #8bb812;
}
body.default .pageCover .page_name {
  border: 2px solid #8bb812;
}
body.default .sidebar .widget {
  border-left: 3px solid #8bb812;
}
body.default .sidebar .similarListing .media .media-body .blogTitle {
  color: #8bb812;
}
body.default .sidebar .tags .tag:hover,
body.default .sidebar .tags .tag:focus {
  background: #8bb812;
  border-color: #8bb812;
}
body.default .sidebar .postTabWidget .nav li a:hover,
body.default .sidebar .postTabWidget .nav li a:focus {
  color: #8bb812;
}
body.default .sidebar .postTabWidget .nav li.active a {
  background: #8bb812;
  border-color: #8bb812;
}
body.default .commentForm form .input-group span i {
  border: 1px solid #8bb812;
  color: #8bb812;
}
body.default .commentForm form .input-group label.error {
  color: #8bb812;
}
body.default .commentForm form button {
  background: #8bb812;
}
body.default .mapArea .contactInfos .nav li i {
  background: #8bb812;
}
body.default .mapArea .contactInfos .nav li:hover i {
  color: #8bb812;
}
body.default .type_switch input[type="checkbox"] + label span.indicator {
  background: #8bb812;
}
body.default #submit_property_form .steps ul[role="tablist"] li.current a {
  color: #8bb80f;
}
body.default #submit_property_form .content fieldset .bootstrap-select .dropdown-menu.open .dropdown-menu li a:hover {
  background: #8bb812;
}
body.default #submit_property_form .content fieldset .bootstrap-select .dropdown-menu.open .dropdown-menu li.selected a {
  background: #8bb812;
}
body.default #submit_property_form .content fieldset .add_new_field {
  background: #8bb812;
}






body.default header .topHeader .social_menu ul li a:hover {
  background: #8bb812;
  border-color:#8bb812;
  color:#fff;
}

body.default #mainSlider .slides li .captions .container .row span {
  background: #6e8d18;
}

body.default .section_title:after {
  background: #000;
  box-shadow: none!important;
}

body.default footer {
background:#45525b;
}

body.default .footerBanner .inner .banner_texts h2 {
  border-bottom: 2px solid #FFFFFF;
}


body.default .blog .inner:hover {
  background: #739a0a;
}
body.default .blog .inner:hover .imageRow .meta_row a {
  background: #739a0a;
}

body.default .info_content .description, body.default .info_content .description .priceRow i {
  background: #3d4133;
}
body.default .info_content:hover .description .priceRow i {
  color: #8bb813;
}